<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-type' />
	</head>
	<body>
		<h1>Hey, </h1>
		<p>
			Welcome to Learning Rails 5!
		</p>
		<p>Welcome aboard, <%= @user.username %>! We hope you'll enjoy using our site as much as you enjoy Learning Rails 5 from O'Reilly media.</p>
		<p>Be sure to check out these features...</p>
		<ul>
			<li><strong>Screencasts</strong> - Check out the awesome tutorials produced by the author of Learning Rails 5, Mark Locklear!</li>
			<li><strong>Examples</strong> - A convenient link to all of the example code used in the book, a great complement for your reading.</li>
			<li><strong>Forum</strong> - Here's where you can communicate directly with the book's creators and other readers to discuss Ruby, Rails, and the book itself.</li>
		</ul>
		<p>
			To login to the site, just follow this link: <%= @url %>.
		</p>
	</body>
</html>