<h1>New Topic</h1>

<%= render 'form', topic: @topic %>

<%= link_to forum_topics_path(@forum), class: "btn btn-dark", style: "color: #FFF;" do %>
    <i class="fa fa-backward"></i> <strong>Back</strong>
<% end %>
