<div id="education-view">
 <h1>Rails Online Class beginning October 3rd 2016</h1>
  <br>
  I will be teaching a 12 week Ruby on Rails class beginning October 3rd 2016. I am excited about this class because it is the only live and virtual online class for Ruby and Rails that I am aware of! The class will be limited to only 10 participants. Register now at <a href="http://learningrails5.eventbrite.com/"> http://learningrails5.eventbrite.com/</a>. Watch the video below to find out more, or email me with questions at <a href="mailto:mark@learningrails5.com?Subject=Rails%20Class" target="_top">mark@learningrails5.com</a>.
  <br>
<center>
      <a href="https://youtu.be/vV3SkOj8qVE" data-toggle="lightbox" data-gallery="youtubevideos" data-width="800" data-title="Virtual Rails Class" data-footer='<%= link_to "Register for this Class", "http://learningrails5.eventbrite.com", class: "btn btn-lg btn-dark", target: "_blank", style: "display: block; width: 280px; margin: 0 auto;" %>'>
        <img src="https://i.snag.gy/e08uIX.jpg">
      </a>
</center>
  <h1>Instructional Resources</h1>
  <br>
  If you are an instructor who is interested in teaching Ruby on Rails I would love to hear from you. My name is Mark Locklear and I am an adjunct instructor at <a href="https://www.abtech.edu/"> Asheville Buncombe Technical Community College</a> in Asheville, North Carolina. In the past two years (2014/2015) I used Learning Rails 3 as the text for the class. Generally I found the students responded well to the pace and challenge the book offered, so it has been my pleasure to update the book for Rails 5.
  <br>
  <br>
  Below is a general outline for a sixteen week semester.
  <br>
  <br>
  Here is a link to download my <%= link_to "Moodle", "https://drive.google.com/open?id=0BwBpAPnCPiIyOWIwUHktb0FDTXc" %>&#8482; shell, which contains the structure you see below in addition to quizzes and assignments for each chapter. I would love for you to download, use and improve upon this shell, and please let me know when you do so I can incorporate your changes into my own class.
  <br>
  <br>
  <style type="text/css">
  .tg  {border-collapse:collapse;border-spacing:0;}
  .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
  .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
  .tg .tg-yw4l{vertical-align:top}
  </style>
  <table class="tg">
    <tr>
      <th class="tg-yw4l">Week 1</th>
      <th class="tg-yw4l">Chapter 1, Intro to Ruby&amp;Rails</th>
      <th class="tg-yw4l">Ruby on Rails Install and Hello World App</th>
    </tr>
    <tr>
      <td class="tg-yw4l">Week 2</td>
      <td class="tg-yw4l">Appendix A&amp;B-Ruby, Rails and Relational Databases</td>
      <td class="tg-yw4l">Intro to Ruby and general review of  Relational Databases</td>
    </tr>
    <tr>
      <td class="tg-yw4l">Week 3</td>
      <td class="tg-yw4l">Chapter 2-Views</td>
      <td class="tg-yw4l"></td>
    </tr>
    <tr>
      <td class="tg-yw4l">Week 4</td>
      <td class="tg-yw4l">Chapter 3-Style</td>
      <td class="tg-yw4l"></td>
    </tr>
    <tr>
      <td class="tg-yw4l">Week 5</td>
      <td class="tg-yw4l">Chapter 4-Controller &amp; Model</td>
      <td class="tg-yw4l"></td>
    </tr>
    <tr>
      <td class="tg-yw4l">Week 6</td>
      <td class="tg-yw4l">Chapter 5-Scaffolding and REST</td>
      <td class="tg-yw4l"></td>
    </tr>
    <tr>
      <td class="tg-yw4l">Week 7</td>
      <td class="tg-yw4l">Chapter 6-Models</td>
      <td class="tg-yw4l"></td>
    </tr>
    <tr>
      <td class="tg-yw4l">Week 8</td>
      <td class="tg-yw4l">Chapter 7-Model Validation</td>
      <td class="tg-yw4l"></td>
    </tr>
    <tr>
      <td class="tg-yw4l">Week 9</td>
      <td class="tg-yw4l">Chapter 8-Forms</td>
      <td class="tg-yw4l"></td>
    </tr>
    <tr>
      <td class="tg-yw4l">Week 10</td>
      <td class="tg-yw4l">Chapter 9-Model Relationships</td>
      <td class="tg-yw4l"></td>
    </tr>
    <tr>
      <td class="tg-yw4l">Week 11</td>
      <td class="tg-yw4l">Chapter 10 - Migrations</td>
      <td class="tg-yw4l"></td>
    </tr>
    <tr>
      <td class="tg-yw4l">Week 12</td>
      <td class="tg-yw4l">Chapter 13 - Sessions &amp; Cookies</td>
      <td class="tg-yw4l"></td>
    </tr>
    <tr>
      <td class="tg-yw4l">Week 13</td>
      <td class="tg-yw4l">Chapter 14-User Authentication</td>
      <td class="tg-yw4l"></td>
    </tr>
    <tr>
      <td class="tg-yw4l">Week 14</td>
      <td class="tg-yw4l">Chapter 15-Routing</td>
      <td class="tg-yw4l"></td>
    </tr>
    <tr>
      <td class="tg-yw4l">Week 15</td>
      <td class="tg-yw4l">Chapter 11 &amp; 12-Debug &amp; Testing</td>
      <td class="tg-yw4l"></td>
    </tr>
    <tr>
      <td class="tg-yw4l">Week 16</td>
      <td class="tg-yw4l">Final Project</td>
      <td class="tg-yw4l"></td>
    </tr>
  </table>
</div>

<script>
  $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
    event.preventDefault();
    if(window.innerWidth <= 800 && window.innerHeight <= 600) {
        $('.modal').find('.modal-dialog').css({"width":"100%"});
     } else {
        $(this).ekkoLightbox();
     }
  });
</script>