<h1>Instructional Resources</h1>
<br>
<br>
<br>
<div class="panel panel-default blocking-alert">
	<h1>Coming Soon!</h1>
	<%= image_tag "rails_construction.png" %>
	<p><strong>Check back soon for updated content</strong></p>
</div>
<div class="push"></div>
<div class="push"></div>