<div>
	<h1>Errata</h1>
	<p>Although every effort has been made to eliminate errors prior to printing, some irregulatities and misprintings may exist in your copy of <em>Learning Rails 5</em>. Errors in the following portions of the text have been identified:</p>

	<table class="table table-striped table-bordered">
		<tr style="background: #888;color: #FFF;">
			<th>Error Description</th>
			<th>Page No(s).</th>
		</tr>
		<tr><td></td><td></td></tr>
		<tr><td></td><td></td></tr>
		<tr><td></td><td></td></tr>
	</table>

	<p>We appreciate your feedback. If any additional errors (not listed here) are found, please contact O'Reilly Media.</p>
</div>