<h1>Errata</h1>
<p>Although every effort has been made to eliminate errors prior to printing, some irregulatities and misprintings may exist in your copy of <em>Learning Rails 5</em>. Errors in the following portions of the text have been identified:</p>

<table class="table table-striped">
	<tr>
		<th>Error Description</th>
		<th>Page No.</th>
	</tr>
	<tr><td></td></tr>
	<tr><td></td></tr>
	<tr><td></td></tr>
</table>

<p>We appreciate your feedback. If any additional errors (not listed here) are found, please contact O'Reilly Media.</p>
