
<h2>Examples</h2>
<p>All of the book’s examples are browsable on Github. You can also download the examples to your computer in a zip file.</p>
<%= link_to 'https://github.com/', target: "_blank" do %>
	<h3 style="text-align: center; font-style: italic;">View examples on GitHub</h3>
<% end %>