
<div id="content" style="text-align: center; margin-top: 100px">
	<%= link_to "Buy eBook on O'Reilly.com", "http://shop.oreilly.com/product/0636920039822.do", class: "btn btn-xl btn-dark", target: "_blank" %>
</div>