
<div id="content" style="text-align: center;">
	<%= link_to "Buy eBook on O'Reilly.com", "http://shop.oreilly.com/product/0636920039822.do", class: "btn btn-xl btn-dark", target: "_blank", style: "width:280px; display: block; margin: 25px auto;" %>
</div>