
<div id="content" style="text-align: center;">

	<%= render 'promo-carousel' %>
	<br>
	<div id="inner-content">
		<p>If you’re a web developer or designer ready to learn <strong>Ruby on Rails</strong>, this unique book is the ideal way to start. All you need to get started is a little HTML experience. Each chapter includes exercises and review questions to test your understanding as you go.</p>
		<%= link_to "Buy eBook on O'Reilly.com", "http://shop.oreilly.com/product/0636920039822.do", class: "btn btn-xl btn-dark", target: "_blank", style: "width:280px; display: block; margin: 25px auto;" %>
	</div>

</div>