<h1>Screencasts and Lectures</h1>
<p>The following is a collection of lectures and tutorial screencasts to accompany and expand upon <em>Learning Rails 5</em></p>
<br>
<div class="container videoContainer"> 
      <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 videoBox">
                  <iframe src="https://www.youtube.com/embed/tHw-hbr6oPI" allowfullscreen></iframe>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 videoBox">
                  <iframe src="https://www.youtube.com/embed/j3MwH8er3Y4" allowfullscreen></iframe>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 videoBox">
                  <!-- <iframe src="" allowfullscreen></iframe> -->
                  <p>Chapter 3<br><em>Coming Soon!</em></p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 videoBox">
                  <iframe src="https://www.youtube.com/embed/sjVEyKe7Was" allowfullscreen></iframe>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 videoBox">
                  <!-- <iframe src="" allowfullscreen></iframe> -->
                  <p>Chapter 5<br><em>Coming Soon!</em></p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 videoBox">
                  <!-- <iframe src="" allowfullscreen></iframe> -->
                  <p>Chapter 6<br><em>Coming Soon!</em></p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 videoBox">
                  <!-- <iframe src="" allowfullscreen></iframe> -->
                  <p>Chapter 7<br><em>Coming Soon!</em></p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 videoBox">
                  <!-- <iframe src="" allowfullscreen></iframe> -->
                  <p>Chapter 8<br><em>Coming Soon!</em></p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 videoBox">
                  <!-- <iframe src="" allowfullscreen></iframe> -->
                  <p>Chapter 9<br><em>Coming Soon!</em></p>
            </div>
      </div>
</div>
