<h1>Media</h1>
<p>The following is a collection of tutorial screencasts to accompany and expand upon <em>Learning Rails 5</em></p>
<br>
<div> 
  <ul class="list-group row" style="margin: 0 5%;">
      <li class="list-group-item col-sm-1 col-md-2 col-lg-3" style="width: 320px; height: 220px;border: 2px solid #888;background: #CCC;margin: 20px;">
      </li>
      <li class="list-group-item col-sm-1 col-md-2 col-lg-3" style="width: 320px; height: 220px;border: 2px solid #888;background: #CCC;margin: 20px;">
      </li>
      <li class="list-group-item col-sm-1 col-md-2 col-lg-3" style="width: 320px; height: 220px;border: 2px solid #888;background: #CCC;margin: 20px;">
      </li>
      <li class="list-group-item col-sm-1 col-md-2 col-lg-3" style="width: 320px; height: 220px;border: 2px solid #888;background: #CCC;margin: 20px;">
      </li>
      <li class="list-group-item col-sm-1 col-md-2 col-lg-3" style="width: 320px; height: 220px;border: 2px solid #888;background: #CCC;margin: 20px;">
      </li>
      <li class="list-group-item col-sm-1 col-md-2 col-lg-3" style="width: 320px; height: 220px;border: 2px solid #888;background: #CCC;margin: 20px;">
      </li>
  </ul>
</div>