<h1>Screencasts and Lectures</h1>
<p>The following is a collection of tutorial screencasts to accompany and expand upon <em>Learning Rails 5</em></p>
<br>
<!-- <div id="videoGallery row">  -->
<div class="container"> 
      <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 videoBox">
                  <iframe width="320" height="220" src="https://www.youtube.com/embed/tHw-hbr6oPI" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 videoBox">
                  <iframe width="320" height="220" src="https://www.youtube.com/embed/j3MwH8er3Y4" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 videoBox">Chapter 3 Coming Soon</div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 videoBox">
                  <iframe width="320" height="220" src="https://www.youtube.com/embed/sjVEyKe7Was" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 videoBox">Chapter 5 Coming Soon</div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 videoBox">Chapter 6 Coming Soon</div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 videoBox">Chapter 7 Coming Soon</div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 videoBox">Chapter 8 Coming Soon</div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 videoBox">Chapter 9 Coming Soon</div>
      </div>
</div>
