/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/******************** GLOBAL ********************/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@font-face {
	font-family: TypewriterURW-Lig;
	src: asset-url('TypewriterURW-Lig.ttf');
}

* {
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
	position: relative;
	min-height: 100%;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.002);
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	overflow-x: hidden;
}

body {
	font-family: 'Droid Sans', Helvetica,Arial,sans-serif;
	font-size: 14px;
	/*line-height: 1.42857143;*/
	color: #555;
	background-color: #FFF;
}

/******************** COLOR VARIABLES *****************/
$bookThemeColor: #B63E97;

/******************** PRIMARY DIVS ******************/
main {
	padding: 50px;
	margin-bottom: 550px;
}

.heading {
	width: 90%;
	margin: 20px auto 10px;
}

.heading p{
	float: right !important;
	text-align: center;
	margin-right: 30%;
}

.heading h1 {
	font-family: TypewriterURW-Lig, 'Droid Serif', serif;
	color: #777;
	text-align: center;
}

footer {
	background-color: $bookThemeColor;
	position: absolute;
	bottom: 0;
	width: 100%;
	color: #fff;
}

#registration-form {
	position: relative;
	left: 40%;
}

/********************** NAVBAR ********************/
.navbar {
	background-color: transparent;
	border: none;
}

.navbar a>i {
	margin-right: 5px;
}

.navbar-header {
	background-color: #F5F5F5;
}

ul.nav.navbar-nav>li>a {
	color: $bookThemeColor;
	font-size: 16px;
}

ul.nav.navbar-nav>li.pull-right>a {
	color: #FFF;
	background-color: $bookThemeColor;
	font-size: 16px;
	border-radius: 25px;
	padding: 5px;
}

#myNavbar {
	border: none;
}

a.navbar-brand {
	color: $bookThemeColor;
}

a.navbar-brand:visited {
	color: $bookThemeColor;
}

.navbar-default .navbar-toggle {
	background: #FFF;
	border: 1px solid $bookThemeColor;
	color: $bookThemeColor;
}

/******************* FOOTER - INTERNAL DIVS *****************/
#about-author {
	float: left;
	width: 70%;
}

#about-author a {
	color: #FFF;
	text-decoration: underline;
	font-weight: 600;
}

#about-author p {
	font-size: 16px;
}

#book-info {
	float: right;
	border-left: 1px solid #FFF;
	padding: 10px 15px 45px;
	width: 30%;
}

/******************* MEDIA QUERIES *********************/
@media (min-width: 480px) {
	.heading h1 {
		font-size: 32px;
	}
	.share-button {
		text-align: center;
	}
	ul.nav.navbar-nav>li.active a {
		border: none;
		text-decoration: underline;
		background-color: transparent;
	}
	.navbar-collapse {
		border-bottom: 1px solid #DDD;
	}

	#book-info {
		clear: left;
		float: none;
	}
	.navbar {
		margin-top: 0;
	}
}

@media (min-width: 768px) {
	.heading h1 {
		font-size: 40px;
	}

	.navbar {
		margin-top: 8px;
	}

	.navbar-brand {
		display: none;
	}

	ul.nav.navbar-nav>li.active a {
		background-color: transparent;
		border-top: 8px solid #E7E7E7;
		margin-top: -8px;
		text-decoration: none;
	}

	/* centered navigation */
	 .nav.navbar-nav {
	     float: left;
	 }
	 .nav.navbar-nav {
	     clear: left;
	     float: left;
	     margin: 0;
	     padding: 0;
	     position: relative;
	     left: 50%;
	     text-align: center;
	 }
	 .nav.navbar-nav > li {
	     position: relative;
	     right: 50%;
	 }
	 .nav.navbar-nav li {
	    text-align: left
	 }
	 	#book-info {
	 	clear: none;
		float: right;
	}
}

@media (min-width: 992px) {
	.heading h1 {
		font-size: 56px;
	}
}

@media (min-width: 1200px) {
	.heading h1 {
		font-size: 68px;
	}
}

/********************* BUTTONS *******************/
.btn {
	padding: 3px 12px;
	font-size: 14px;
	font-weight: 600;
	border-radius: 25px;
	box-shadow: 2px 2px 2px darken($bookThemeColor, 25%);
	margin: 10px;
}

.btn-dark {
	color: #FFF;
	background-color: $bookThemeColor;
}

.btn-dark i {
	color: #FFF;
	font-size: 14px;
	font-weight: 600;
}

.btn-light {
	color: $bookThemeColor;
	background-color: #FFF;
	border: 1px solid #DDD;
}

.navbar-nav .btn-sm {
	padding: 3px 12px;
}

.btn-xl {
	font-size: 18px;
	padding: 15px 20px;
	border-radius: 30px;
}

a.btn.btn-sm.btn-dark:hover {
	background-color: darken($bookThemeColor, 15%);
}