<!-- <ul class="dropdown-menu share-menu">
  <li><a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A//learningrails5.com&title=Learning%20Rails%205%20-" class="share-link" data-toggle="modal"></a><i class="fa fa-linkedin fa-2x"></i></li>
  <li><a href="https://twitter.com/intent/tweet" data-url="http://learningrails5.com" class="share-link" data-via="learningrails5" data-toggle="modal" ><i class="fa fa-twitter fa-2x"></i></a></li>
  <li><a href="https://www.facebook.com/sharer/sharer.php?u=SHAREMESSAGE" title="Share on Facebook" target="_blank" class="btn btn-facebook"</a><i class="fa fa-facebook fa-2x"></i></li>
  <li><a href="https://plus.google.com/share?url=SHAREMESSAGE" title="Share on Google+" target="_blank" class="btn btn-googleplus"><i class="fa fa-google-plus fa-2x"></i></li>
  <li><i class="fa fa-paper-plane fa-2x"></i></li>
</ul> -->
<ul class="dropdown-menu">
	<div class="btn-group">
	  <a href="https://twitter.com/intent/tweet" data-url="http://learningrails5.com" data-via="learningrails5" data-toggle="modal" type="button" class="btn twitter"><i class="fa fa-twitter fa-2x"></i></a>
	  <a type="button" class="btn linkedin"><i class="fa fa-linkedin fa-2x"></i></a>
	  <a type="button" class="btn google-plus"><i class="fa fa-google-plus fa-2x"></i></a>
	  <a type="button" class="btn facebook"><i class="fa fa-facebook fa-2x"></i></a>
	  <a type="button" class="btn paper-plane"><i class="fa fa-paper-plane fa-2x"></i></a>
	</div>
</ul>